.sec_6
  position: relative
  overflow: hidden

.sec_6_content
  margin: 55px 0 45px
  width: 75%
  max-width: 700px
  p
    &:last-child
      margin-top: 16px

.sec_6_img
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 50px
  height: 450px