.sec_4
  text-align: center

.sec_4_content
  padding: 60px
  max-width: 900px
  margin: 0 auto

.sec_4_item
  display: inline-block
  vertical-align: top
  width: 50%
  padding: 0 20px
  img
    height: 80px
    margin-bottom: 35px
  p
    max-width: 250px
    margin: 0 auto
  &:nth-child(3),&:last-child
    margin-top: 50px

@media (max-width: 736px)
  .sec_4_content
    padding: 40px 0 20px

  .sec_4_item
    width: 100%
    margin-top: 40px
    img
      height: 60px
      margin-bottom: 20px
    &:first-child
      margin-top: 0